@CHARSET "UTF-8";

#contenedor_formulario_pass{
	
	border:1px solid #A9F16C;
	margin:0 auto;
	padding:4px 15px 22px;
	width:391px;
}

h2{
	
	margin-left: 14px;
}

form {
	
	margin-left:15px;
	width:400px;
	
	
}
