#contenedor_formularios{
    	
	width: 715px;
	margin: 0 auto;
}

#contenedor_formulario_inicio_sesion{
	
	float:left;
    
}


#formulario_inicio_sesion .form_tabla_1_etiqueta{
	
	width: 65px;
		
}

#formulario_registro .form_tabla_1_etiqueta{
	
	width: 110px;
		
}

#formulario_inicio_sesion{

	background:none repeat scroll 0 0 white;
	border:1px solid #B9B9B9;
	margin-bottom:14px;
	margin-top:100px;
	padding:6px 37px 19px 27px;
	
}

#contenedor_formulario_inicio_sesion p{
	
	text-align: center;
	
}

#formulario_registro{

	background:none repeat scroll 0 0 white;
	border:1px solid #B9B9B9;
	margin-left:348px;
	padding:9px 12px 29px 30px;
	width:346px;
    clear: right;
}


#olvidaste_password{

	

}

#signin_password{
	
	
}

/******* radio list sexo *******/

ul.radio_list{
	
	display: inline-block; /* si quito esto, el div para el mensaje de error aparece en linea con */ 
	                       /* los radio buttons y sus etiquetas, dada la regla de "ul.radio_list li". */
	
}

ul.radio_list li{
	
	float: left;
	display: inline;
	
}

ul.radio_list label
{
     width: 43px;
}


input[type="radio"]{
	
	vertical-align: baseline;
	margin-left:10px;
	
}

/**** fin radio list sexo ****/


input[type="text"], input[type="password"]
{
	
	width: 143px; /* esto normaliza el ancho de los text input */
	
}



